.hdr{
    background-image: url(../../../assets/canva-neon-purple-futuristic-col.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 15vw;
    &__nav{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &--a{
            font-family:'Inspiration', cursive;
            color:#F87AFF;
            text-decoration: none;
            font-size: 50px;
            text-align: left;
            margin: 1rem;
            text-shadow:0 0 5px #8FFF91,
                    0 0 10px #8FFF91,
                    0 0 40px #8FFF91,
                    0 0 60px #8FFF91;
        }
        &--b{
            font-family:'Inspiration', cursive;
            color:#F87AFF;
            text-decoration: none;
            font-size: 50px;
            text-align: left;
            margin: 1rem;
            text-shadow:0 0 5px #8FFF91,
                    0 0 10px #8FFF91,
                    0 0 40px #8FFF91,
                    0 0 60px #8FFF91;
        }
        &--a:focus{
            width: 10%;
            height: auto;
            background-color: #8FFF91;
            opacity: 30%;
            border-radius: 20px;
        }
        &--b:focus{
            width: 22%;
            height: auto;
            background-color: #8FFF91;
            opacity: 30%;
            border-radius: 20px;
        }
    }
}