<div class="contain">
    <div class="contain__inside">
        <h1 class="contain__inside--t">Find the treasure</h1>
        <a class="hdr__nav--b"routerLink="findTheTreasure">
        <video class="contain__inside--v" preload="true" autoplay="autoplay"
            src="../../../../assets/findthetreasure.mp4"></video>
        </a>
    </div>
    <div class="contain__inside">
        <h1 class="contain__inside--t">Whack a Mole</h1>
        <a class="hdr__nav--b"routerLink="whackamole">
        <video class="contain__inside--v" preload="true" autoplay="autoplay"
            src="../../../../assets/whackamole.mp4"></video>
        </a>
    </div>
</div>