/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
$color: #FFED77;
$color-B: #8FFF91;